@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


*{
    margin: 0%;
    padding: 0%;
}

body{
    background: white;
 /*   background: #f7f3eb; */
    font-family: 'Noto Sans', sans-serif;
}

header{
    color: white;    
}

.logo {
    width: 35%;
}

button {
    margin-bottom: 15px;
    background: rgb(0, 0, 0);
    border: 0px;
    padding: 0px;
    width: 67%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    transition: .3s ease-in-out;
    overflow: hidden;
    color: white;
}

button:hover {
    color: #02081a;
    background: #d1d1d1;
    font-size: 120%;
}



/* Contenido */


.contenido__carrito {
    background: #f5f5f5;
    margin: auto;
    width: 55%;
    text-align: center;
    box-shadow: 4px 4px 4px 1px rgb(0 0 0 / 30%);
}


.contenido__carrito h3{
    color: rgb(36, 66, 196);
}

.contenido__articulo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 10px;
    border: 1px #bfbfbf solid;
}

.cantidad__carrito{
    display: flex;
    width: 20%;
    margin: auto;
    margin-top: 20px;
    background: white;
    border: #000000 0.5px solid;
}

.cantidad__carrito button {
    margin-bottom: 0px;
    border: #000000 0.5px solid;
}

.cantidad__carrito button:hover {
    background: #000;
    color: #fff;
    font-size: 150%;
}

.contenido__carrito .contenido__articulo img{
    margin: 3% 5% 1% 5%;
    max-width: 250px;
}

.contenido__carrito .contenido__articulo p {
    width: 75%;
    margin: auto;
}

/*  */

@media screen and (max-width: 400px){

    /* nav */

    /* contenido */

    button {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .contenido__carrito .contenido__articulo {
        flex-direction: column;
    }

    .botones{
        align-items: center;
        flex-direction: column;
        margin: auto;
    }

    body > div > label > input[type=text]:nth-child(8){

        margin-bottom: 15px;
    }

}