<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %} 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style-adm.css' %}">

</head>

<body>
    <div class="logo__div"><img style="padding-bottom: 10px; padding-top: 50px;" class="logo" src="/img/logo.png"
            alt=""></div>
    <section>
        <div class="seccion__info">
            <h1>Panel de Administrador</h1>
            <hr>
            <h3>Seleccione una opcion con respecto a un producto</h3>
        </div>
    </section>

    <section>
            <div class="botones">
                <button>Crear</button>
                <button>Editar</button>
                <button>Volver</button>
            </div>
    </section>
</body>

</html>