{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style-footer.css' %}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <main>
        </main>
        <footer>
            <div class="footer-container">
                <li class-"li-footer">
                    <a class"social-media-icon">
                    <a class"social-media-icon">   <i class='bx bxl-facebook'></i> <a>
                    <a class"social-media-icon">  <i class='bx bxl-instagram' ></i> <a>
                    <a class"social-media-icon">  <i class='bx bx-phone' ></i> <a>
                <li>
                <div class="texto__footer">
                    <p>Av: Callefalsa 123 - +54 011 5555-5555.</p>
                    <hr>
                    <p>Depato123 CC DuckFum</p>
            </div>
        </footer>
    </body>
</html>